
<!--<div class="container-fluid mdl-shadow--6dp mdl-color--blue-grey-300">
  <h4 class="text-right">
    <a routerLink="/" class="mdl-shadow--2dp mdl-button mdl-js-button mdl-button--primary">
      <i class="glyphicon glyphicon-menu-left"></i>{{strings.previous}}
    </a>
    <a routerLink="/en/software" class="mdl-color-text--primary">
      <span class="flag-icon flag-icon-gb"></span>
    </a>
    <a routerLink="/fi/software">
      <span class="flag-icon flag-icon-fi"></span>
    </a>
    <a routerLink="/se/software">
      <span class="flag-icon flag-icon-se"></span>
    </a>
  </h4>
</div>-->

<div class="vcentered">

  <div class="container-fluid mdl-color--white mdl-shadow--6dp">
    <div class="col-xs-12  mdl-shadow--6dp mdl-color--blue-50" style="opacity: 0.85">
      <div class="col-xs-12 col-lg-4" style="float: right;">
        <div class="col-xs-12">
          <h2>Everything else</h2>
        </div>
        <div style="clear: both"></div>
      </div>


      <!-- balance sheet
          and
      profit and loss -->
      <div class="col-lg-8">
        <!-- balance sheet -->
          <!-- TODO
            table and sums
          -->
          <div class="col-sm-6">
            <assetscolumn></assetscolumn>
            <div style="clear: both"></div>
          </div>

        <!-- profit and loss -->
          <!-- TODO
            table and sums
          -->

          <div class="col-sm-6">
            <profitcolumn></profitcolumn>
            <div style="clear: both"></div>
          </div>

      </div>
    </div>
  </div>

</div>
