
<!--<div class="container-fluid mdl-shadow--6dp mdl-color--blue-grey-300">
  <h4 class="text-right">
    <a routerLink="/" class="mdl-shadow--2dp mdl-button mdl-js-button mdl-button--primary">
      <i class="glyphicon glyphicon-menu-left"></i>{{strings.previous}}
    </a>
    <a routerLink="/en/software" class="mdl-color-text--primary">
      <span class="flag-icon flag-icon-gb"></span>
    </a>
    <a routerLink="/fi/software">
      <span class="flag-icon flag-icon-fi"></span>
    </a>
    <a routerLink="/se/software">
      <span class="flag-icon flag-icon-se"></span>
    </a>
  </h4>
</div>-->

<div class="vcentered">

  <div class="container-fluid mdl-color--white mdl-shadow--6dp">
    <div class="col-xs-12  mdl-shadow--6dp" style="background: rgba(200, 230, 255, 0.66) !important; padding-bottom: 20px;">
      <div class="col-xs-12 col-lg-4" style="float: right;">
        <div class="col-xs-12">
          <h2>Everything else</h2>
        </div>
        <div style="clear: both">
          <div class="col-sm-6 col-lg-12" style="margin-bottom: 50px;">
            <div class="row">
              <div class="col-xs-8">
                <div class="form-group">
                  <label for="costsell">cost/sell</label>
                  <input type="number" class="form-control" id="costsell" [(ngModel)]="costsell">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="alv">{{strings.vat || enpack.vat}}%</label>
                  <select class="form-control" id="alv" [(ngModel)]="alv">
                    <option *ngFor="let alv of alvs" >{{alv}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="creditOrDebit">Credit or debit</label>
                  <select class="form-control" id="creditOrDebit" [(ngModel)]="creditordebit">
                    <option value="credit">+</option>
                    <option value="debit">-</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="form-group">
                  <label for="itemHeader">Header</label>
                  <div [ngSwitch]="creditordebit">
                    <div *ngSwitchCase="'credit'">
                      <select class="form-control" id="itemHeader" [(ngModel)]="itemHeader">
                        <option value="income">{{strings.income || enpack.income}}</option>
                        <option value="debtor">{{strings.debtor || enpack.debtor}}</option>
                      </select>
                    </div>
                    <div *ngSwitchCase="'debit'">
                      <select class="form-control" id="itemHeader" [(ngModel)]="itemHeader">
                      </select>
                    </div>
                    <div *ngSwitchDefault>
                      <select class="form-control" id="itemHeader" [(ngModel)]="itemHeader">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="itemSubHeader">subheader</label>
                  <div [ngSwitch]="itemHeader">
                    <div *ngSwitchCase="'income'">
                      <select class="form-control" id="itemSubHeader" [(ngModel)]="itemSubHeader">
                        <option value="turnover">{{strings.turnoverNetSales || enpack.turnoverNetSales}}</option>
                        <option value="otherOperatingIncome">{{strings.otherOperatingIncome || enpack.otherOperatingIncome}}</option>
                        <option value="financialIncome">{{strings.financialIncome || enpack.financialIncome}}</option>
                        <option value="appropriationsIncome">{{strings.appropriationsIncome || enpack.appropriationsIncome}}</option>
                      </select>
                    </div>
                    <div *ngSwitchDefault>
                      <select class="form-control" id="itemSubHeader" [(ngModel)]="itemHeader">
                      </select>
                    </div>
                  </div>
                </div>
                {{creditordebit}}, {{itemHeader}}, {{itemSubHeader}}
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="form-group">
                  <button class="btn btn-{{buttonDisabled()}} btn-block" (click)="buttonClicked()">submit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="row text-center">
              <h4>Passed data</h4>
            </div>
            <div class="row mdl-shadow--3dp mdl-color--white" style='overflow: auto; min-height: 150px; max-height: 250px;'>
              <div class="row text-center" style="width: 100%; padding: 0; margin: 10px 0;" *ngFor="let item of items">

                <div>{{item}}</div>
                <!--<div class="col-sm-3">{{item.sell}}</div>
                <div class="col-sm-2">{{item.vat}}%</div>
                <div class="col-sm-6">{{item.gategory}}</div>
                <!--<div class="col-sm-1">x</div><!-- -->
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- balance sheet
          and
      profit and loss -->
      <div class="col-lg-8">
        <!-- balance sheet -->
          <!-- TODO
            table and sums
          -->
          <div class="col-sm-6">
            <assetscolumn [strings]="strings" [enpack]="enpack"></assetscolumn>
            <div style="clear: both"></div>
          </div>

        <!-- profit and loss -->
          <!-- TODO
            table and sums
          -->

          <div class="col-sm-6">
            <profitcolumn [strings]="strings" [enpack]="enpack"></profitcolumn>
            <div style="clear: both"></div>
          </div>

      </div>
    </div>
  </div>

</div>
