
<div>
  <h2>{{ strings.profitAndLossAccount || enpack.profitAndLossAccount }}</h2>
</div>
<div>

  <ul>
    <li>
      <div class="col-xs-10">{{ strings.turnoverNetSales || enpack.turnoverNetSales }}</div>
      <div class="col-xs-2">0</div>
    </li>
    <li><div class="col-xs-12">{{ strings.otherOperatingIncome || enpack.otherOperatingIncome }}</div></li>
    <li><div class="col-xs-12"><b>{{ strings.rawMaterialsAndServices || enpack.rawMaterialsAndServices }}</b></div></li>
    <li>
      <ul>
        <li><div class="col-xs-12">{{ strings.rawMaterialsAndConsumables || enpack.rawMaterialsAndConsumables }}</div></li>
        <li>
          <ul>
            <li>
              <div class="col-xs-10">{{ strings.purchasesDuringTheFinancialYear || enpack.purchasesDuringTheFinancialYear }}</div>
              <div class="col-xs-2">0</div>
            </li>
            <li>
              <div class="col-xs-10">{{ strings.variationsInStocks || enpack.variationsInStocks }}</div>
              <div class="col-xs-2">0</div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div>
