
<div>
  <h2>
    {{ strings.profitAndLossAccount || enpack.profitAndLossAccount }}
    <button class="btn btn-default glyphicon glyphicon-triangle-bottom"
      (click)="openAll()"></button>
    <button class="btn btn-default glyphicon glyphicon-triangle-top"
      (click)="closeAll()"></button>
    </h2>
</div>
<div>

  <ul>
    <li>
      <div class="col-xs-10 otsikko">{{ strings.turnoverNetSales || enpack.turnoverNetSales }}</div>
      <div class="col-xs-2"><b>{{getSalesOf("turnoverNetSales") + getSalesOf("turnoverTradeDebtors")}}</b></div>
    </li>
    <li>
      <div class="col-xs-10">{{ strings.otherOperatingIncome || enpack.otherOperatingIncome }}</div>
      <div class="col-xs-2">{{getSalesOf("otherOperatingIncome")}}</div>
    </li>
    <li (click)="toggleDropdown('rawMaterialsAndServices')">
      <div class="col-xs-10">
        {{ strings.rawMaterialsAndServices || enpack.rawMaterialsAndServices }}
        <sub class="glyphicon glyphicon-triangle-{{topBottom('rawMaterialsAndServices')}}"></sub>
      </div>
      <div class="col-xs-2">{{getRawMaterialsAndServices()}}</div>
    </li>
    <li *ngIf="dropdownToggler('rawMaterialsAndServices')">
      <ul>
        <li>
          <div class="col-xs-10">{{ strings.rawMaterialsAndConsumables || enpack.rawMaterialsAndConsumables }}</div>
          <div class="col-xs-2">
            <b>{{getRawMaterialsAndConsumables()}}</b>
          </div>
        </li>
        <li>
          <ul>
            <li>
              <div class="col-xs-10">{{ strings.purchasesDuringTheFinancialYear || enpack.purchasesDuringTheFinancialYear }}</div>
              <div class="col-xs-2">{{getPurchasesDuring()}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{ strings.variationsInStocks || enpack.variationsInStocks }}</div>
              <div class="col-xs-2">{{getVariationsInStock()}}</div>
            </li>
          </ul>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.externalServices || enpack.externalServices }}</div>
          <div class="col-xs-2">{{getSalesOf("externalServices")}}</div>
        </li>
      </ul>
    </li>
    <li (click)="toggleDropdown('staffExpensess')">
      <div class="col-xs-10">
        {{ strings.staffExpenses || enpack.staffExpenses }}
        <sub class="glyphicon glyphicon-triangle-{{topBottom('staffExpensess')}}"></sub>
      </div>
      <div class="col-xs-2"><b>
        {{getStaffExpenses()}}
      </b></div>
    </li>
    <li *ngIf="dropdownToggler('staffExpensess')">
      <ul>
        <li>
          <div class="col-xs-10">{{ strings.wagesAndSalaries || enpack.wagesAndSalaries }}</div>
          <div class="col-xs-2">{{getSalesOf("wagesAndSalaries")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.socialSecurityExpenses || enpack.socialSecurityExpenses }}</div>
          <div class="col-xs-2">{{getSocialSecurityExpenses()}}</div>
        </li>
        <li>
          <ul>
            <li>
              <div class="col-xs-10">{{ strings.pensionExpenses || enpack.pensionExpenses }}</div>
              <div class="col-xs-2">{{getSalesOf("pensionExpenses")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{ strings.otherSocialSecurityExpenses || enpack.otherSocialSecurityExpenses }}</div>
              <div class="col-xs-2">{{getSalesOf("otherSocialSecurityExpenses")}}</div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li (click)="toggleDropdown('depreciationsAndReductionsInValue')">
      <div class="col-xs-10">
        {{ strings.depreciationsAndReductionsInValue || 
          enpack.depreciationsAndReductionsInValue }}
        <sub class="glyphicon glyphicon-triangle-{{topBottom('depreciationsAndReductionsInValue')}}"></sub>
      </div>
      <div class="col-xs-2"><b>{{getDARIV()}}</b></div>
    </li>
    <li *ngIf="dropdownToggler('depreciationsAndReductionsInValue')">
      <ul>
        <li>
          <div class="col-xs-10">{{ strings.depreciationsAccordingToPlan || enpack.depreciationsAccordingToPlan }}</div>
          <div class="col-xs-2">{{getSalesOf("depreciationsAccordingToPlan")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.reductionsInValue || enpack.reductionsInValue }}</div>
          <div class="col-xs-2">{{getSalesOf("reductionsInValue")}}</div>
        </li>
      </ul>
    </li>
    <li (click)="toggleDropdown('otherOperatingExpenses')">
      <div class="col-xs-10">
        {{ strings.otherOperatingExpenses || enpack.otherOperatingExpenses }}
        <sub class="glyphicon glyphicon-triangle-{{topBottom('otherOperatingExpenses')}}"></sub>
      </div>
      <div class="col-xs-2"><b>{{getOtherOperatingExpenses()}}</b></div>
    </li>
    <li *ngIf="dropdownToggler('otherOperatingExpenses')">
      <ul>
        <li>
          <div class="col-xs-10">{{ strings.optionalStaffExpenses || enpack.optionalStaffExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("optionalStaffExpenses")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.apartmentExpenses || enpack.apartmentExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("apartmentExpenses")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.vechileExpenses || enpack.vechileExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("vechileExpenses")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.computerDeviceAndSoftware || enpack.computerDeviceAndSoftware }}</div>
          <div class="col-xs-2">{{getSalesOf("computerDeviceAndSoftware")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.shorttermEquipment || enpack.shorttermEquipment }}</div>
          <div class="col-xs-2">{{getSalesOf("shorttermEquipment")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.travelExpenses || enpack.travelExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("travelExpenses")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.representationExpenses || enpack.representationExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("representationExpenses")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.salesAndMarketingExpenses || enpack.salesAndMarketingExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("salesAndMarketingExpenses")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.researchAndDevelopmentExpenses || enpack.researchAndDevelopmentExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("researchAndDevelopmentExpenses")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.admistrationExpenses || enpack.admistrationExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("admistrationExpenses")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{ strings.otherOperatingExpenses || enpack.otherOperatingExpenses }}</div>
          <div class="col-xs-2">{{getSalesOf("otherOperatingExpenses")}}</div>
        </li>
      </ul>
    </li>
    <li>
      <div class="col-xs-10 otsikko">{{ strings.operatingProfitLoss || enpack.operatingProfitLoss }}</div>
      <div class="col-xs-2"><b>{{getOperatingProftiLoss()}}</b></div>
    </li>
    <li>
      <div class="col-xs-10">{{ strings.financialIncome || enpack.financialIncome }}</div>
      <div class="col-xs-2">{{getSalesOf("financialIncome")}}</div>
    </li>
    <li>
      <div class="col-xs-10">{{ strings.financialExpenses || enpack.financialExpenses }}</div>
      <div class="col-xs-2">{{getSalesOf("financialExpenses")}}</div>
    </li>
    <li>
      <div class="col-xs-10 otsikko">{{ strings.profitLossBeforeAppropriationsAndTaxes || enpack.profitLossBeforeAppropriationsAndTaxes }}</div>
      <div class="col-xs-2"><b>{{getProfitLossB4AppropriationsAndTaxes()}}</b></div>
    </li>
    <li>
      <div class="col-xs-10">{{ strings.appropriationsIncome || enpack.appropriationsIncome }}</div>
      <div class="col-xs-2">{{getSalesOf("appropriationsIncome")}}</div>
    </li>
    <li>
      <div class="col-xs-10">{{ strings.appropriationsExpense || enpack.appropriationsExpense }}</div>
      <div class="col-xs-2">{{getSalesOf("appropriationsExpense")}}</div>
    </li>
    <li>
      <div class="col-xs-10">{{ strings.incomeTaxes || enpack.incomeTaxes }}</div>
      <div class="col-xs-2">{{getSalesOf("incomeTaxes")}}</div>
    </li>
    <li>
      <div class="col-xs-10 otsikko">{{ strings.profitLossOfTheFinancialYear || enpack.profitLossOfTheFinancialYear }}</div>
      <div class="col-xs-2"><b>{{getProfLossFinancialYear()}}</b></div>
    </li>
  </ul>

</div>
