<div>
  <h2>
    {{ strings.balanceSheet || enpack.balanceSheet }}
      <button class="btn btn-default glyphicon glyphicon-triangle-bottom"
        (click)="openAll()"></button>
      <button class="btn btn-default glyphicon glyphicon-triangle-top"
        (click)="closeAll()"></button>
  </h2>
</div>
<div>
  <ul>
    <li><div class="col-xs-12"><b>{{ strings.assets || enpack.assets }}</b></div></li>
    <li>
      <ul>
        <li>
          <div class="col-xs-10 otsikko">{{ strings.nonCurrentAssets || enpack.nonCurrentAssetsTotal }}</div>
          <div class="col-xs-2"><b>{{getNonCurrentAssets()}}</b></div>
        </li>
        <li>
          <ul>
            <li>
              <div class="col-xs-10">{{strings.intangibleAssets || enpack.intangibleAssets}}</div>
              <div class="col-xs-2">{{getSalesOf("intangibleAssets")}}</div>
            </li>
            <li (click)="toggleDropdown('tangibleAssets')">
              <div class="col-xs-10">{{strings.tangibleAssets || enpack.tangibleAssets}}
                  <sub class="glyphicon glyphicon-triangle-{{topBottom('tangibleAssets')}}"></sub></div>
              <div class="col-xs-2">{{getTangibleAssets()}}</div>
            </li>
            <li *ngIf="dropdownToggler('tangibleAssets')" >
              <ul>
                <li>
                  <div class="col-xs-10">{{strings.buildings || enpack.buildings}}</div>
                  <div class="col-xs-2">{{getSalesOf("buildings")}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.machineryAndEquipment || enpack.machineryAndEquipment}}</div>
                  <div class="col-xs-2">{{getSalesOf("machineryAndEquipment")}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.investments || enpack.investments}}</div>
                  <div class="col-xs-2">{{getSalesOfOf("longtermExpenses", "investments")}}</div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <div class="col-xs-10 otsikko">{{strings.currentAssets || enpack.currentAssets}}</div>
          <div class="col-xs-2"><b>{{getCurrentAssets()}}</b></div>
        </li>
        <li>
          <ul>
            <li>
              <div class="col-xs-10">{{strings.stocks || enpack.stocks}}</div>
              <div class="col-xs-2">{{getSalesOf("stocks")}}</div>
            </li>
            <li (click)="toggleDropdown('debtors')">
              <div class="col-xs-10">
                {{strings.debtors || enpack.debtors}}
              <sub class="glyphicon glyphicon-triangle-{{topBottom('debtors')}}"></sub>
              </div>
              <div class="col-xs-2">{{getDebtors()}}</div>
            </li>
            <li>
              <ul *ngIf="dropdownToggler('debtors')" >
                <li>
                  <div class="col-xs-10">{{strings.longterm || enpack.longterm}} ({{strings.receivables ||enpack.receivables}})</div>
                  <div class="col-xs-2">{{getSalesOfOf("debtor", "longterm")}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.shortterm || enpack.shortterm}}</div>
                  <div class="col-xs-2"><b>
                    {{getShorttermDebtors()}}
                  </b></div>
                </li>
                <li>
                  <ul>
                    <li>
                      <div class="col-xs-10">{{strings.tradeDebtors || enpack.tradeDebtors}}</div>
                      <div class="col-xs-2">{{getTradeDebtors()}}</div>
                    </li>
                    <li>
                      <div class="col-xs-10">{{strings.vatReceivables || enpack.vatReceivables}}</div>
                      <div class="col-xs-2">{{getVatReceivables()}}</div>
                    </li>
                    <li>
                      <div class="col-xs-10">{{strings.otherReceivables || enpack.otherReceivables}}</div>
                      <div class="col-xs-2">{{getSalesOf("otherReceivables")}}</div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="col-xs-10">{{strings.investments || enpack.investments}}</div>
              <div class="col-xs-2">{{getSalesOfOf("debtor", "investments")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.cashInHandAndInBank || enpack.cashInHandAndInBank}}</div>
              <!--<div class="col-xs-2">{{getSalesOfOf("cashOrBank", "cashInHandAndInBank")}}</div>-->
              <div class="col-xs-2">{{getCashOrBank()}}</div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <div [ngSwitch]="theMatch()">
        <div *ngSwitchCase="true">
          <div class="col-xs-10"><b>{{strings.assetsTotal || enpack.assetsTotal}}</b></div>
          <div class="col-xs-2">{{getAssets()}}</div>
        </div>
        <div *ngSwitchDefault>
          <div class="col-xs-10"><b style="color: #ff0000">{{strings.assetsTotal || enpack.assetsTotal}}</b></div>
          <div class="col-xs-2">{{getAssets()}}</div>
        </div>
      </div>
    </li>
    <div class="col-xs-12"><br></div>
    <li><div class="col-xs-12"><b>{{strings.equityAndLiabilities || enpack.equityAndLiabilities}}</b></div></li>
    <li>
      <ul>
        <li (click)="toggleDropdown('capitalAndReserves')">
          <div class="col-xs-10 otsikko">
            {{strings.capitalAndReserves || enpack.capitalAndReserves}}
            <sub class="glyphicon glyphicon-triangle-{{topBottom('capitalAndReserves')}}"></sub>
          </div>
          <div class="col-xs-2"><b>{{getCapitalAndReserves()}}</b></div>
        </li>
        <li *ngIf="dropdownToggler('capitalAndReserves')" >
          <ul>
            <li>
              <div class="col-xs-10">{{strings.subscribedCapital || enpack.subscribedCapital}}</div>
              <div class="col-xs-2">{{getSalesOf("subscribedCapital")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.revaluationReserve || enpack.revaluationReserve}}</div>
              <div class="col-xs-2">{{getSalesOf("revaluationReserve")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.otherReserves || enpack.otherReserves}}</div>
              <div class="col-xs-2">{{getSalesOf("otherReserves")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.retairnedEarnings || enpack.retairnedEarnings}}</div>
              <div class="col-xs-2">{{getSalesOf("retairnedEarnings")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.profitLossOfTheFinancialYear || enpack.profitLossOfTheFinancialYear}}</div>
              <div class="col-xs-2">{{getProfLossFinancialYear() || 0}}</div>
            </li>
          </ul>
        </li>
        <li>
          <div class="col-xs-10 otsikko">{{strings.appropriations || enpack.appropriations}}</div>
          <div class="col-xs-2"><b>0</b></div>
        </li>
        <li>
          <div class="col-xs-10 otsikko">{{strings.provisions || enpack.provisions}}</div>
          <div class="col-xs-2"><b>0</b></div>
        </li>
        <li (click)="toggleDropdown('creditors')">
          <div class="col-xs-10 otsikko">
            {{strings.creditors || enpack.creditors}}
            <sub class="glyphicon glyphicon-triangle-{{topBottom('creditors')}}"></sub>
          </div>
          <div class="col-xs-2"><b>{{getCreditors()}}</b></div>
        </li>
        <li *ngIf="dropdownToggler('creditors')">
          <ul>
            <li>
              <div class="col-xs-10">{{strings.longterm || enpack.longterm}} ({{strings.loans || enpack.loans}})</div>
              <div class="col-xs-2">{{getSalesOfOf("loanOrDebt", "longterm")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.shortterm || enpack.shortterm}}</div>
              <div class="col-xs-2">{{getEALShort()}}</div>
            </li>
            <li>
              <ul>
                <li>
                  <div class="col-xs-10">{{strings.loansFromCreditInstitutions || enpack.loansFromCreditInstitutions}}</div>
                  <div class="col-xs-2">{{getSalesOf("loansFromCreditInstitutions")}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.tradeCreditors || enpack.tradeCreditors}}</div>
                  <div class="col-xs-2">{{getTradeCreditors()}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.vatDebt || enpack.vatDebt}}</div>
                  <div class="col-xs-2">{{getVatDebt()}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.otherCreditors || enpack.otherCreditors}}</div>
                  <div class="col-xs-2">{{getSalesOf("otherCreditors")}}</div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <div [ngSwitch]="theMatch()">
        <div *ngSwitchCase="true">
          <div class="col-xs-10"><b>{{strings.equityAndLiabilitiesTotal || enpack.equityAndLiabilitiesTotal}}</b></div>
          <div class="col-xs-2">{{getEquityTotal()}}</div>
        </div>
        <div *ngSwitchDefault>
          <div class="col-xs-10"><b style="color: #ff0000">{{strings.equityAndLiabilitiesTotal || enpack.equityAndLiabilitiesTotal}}</b></div>
          <div class="col-xs-2">{{getEquityTotal()}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>
