<div>
  <h2>{{ strings.balanceSheet || enpack.balanceSheet }}</h2>
</div>
<div>
  <ul>
    <li><div class="col-xs-12">{{ strings.assets || enpack.assets }}</div></li>
    <li>
      <ul>
        <li><div class="col-xs-12">{{ strings.nonCurrentAssets || enpack.nonCurrentAssetsTotal }}</div></li>
        <li>
          <ul>
            <li>
              <div class="col-xs-10">{{strings.intangibleAssets || enpack.intangibleAssets}}</div>
              <div class="col-xs-2">{{getSalesOf("intangibleAssets")}}</div>
            </li>
            <li><div class="col-xs-12">{{strings.tangibleAssets || enpack.tangibleAssets}}</div></li>
            <li>
              <ul>
                <li>
                  <div class="col-xs-10">{{strings.buildings || enpack.buildings}}</div>
                  <div class="col-xs-2">{{getSalesOf("buildings")}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.machineryAndEquipment || enpack.machineryAndEquipment}}</div>
                  <div class="col-xs-2">{{getSalesOf("machineryAndEquipment")}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.tangibleAssetsTotal || enpack.tangibleAssetsTotal}}</div>
                  <div class="col-xs-2">0</div>
                </li>
              </ul>
            </li>
            <li>
              <div class="col-xs-10">{{strings.investments || enpack.investments}}</div>
              <div class="col-xs-2">{{getSalesOfOf("longtermExpenses", "investments")}}</div>
            </li>
          </ul>
        </li>
        <li>
          <div class="col-xs-10">{{strings.currentAssets || enpack.currentAssets}}</div>
          <div class="col-xs-2"><b>0</b></div>
        </li>
        <li>
          <ul>
            <li>
              <div class="col-xs-10">{{strings.stocks || enpack.stocks}}</div>
              <div class="col-xs-2">{{getSalesOf("stocks")}}</div>
            </li>
            <li (click)="toggleDebtors()"><div class="col-xs-12">
              {{strings.debtors || enpack.debtors}}
              <sub class="glyphicon glyphicon-triangle-bottom"></sub>
            </div></li>
            <li>
              <ul *ngIf="debtors" >
                <li>
                  <div class="col-xs-10">{{strings.longterm || enpack.longterm}}</div>
                  <div class="col-xs-2">{{getSalesOfOf("debtor", "longterm")}}</div>
                </li>
                <li>
                  <div class="col-xs-10">{{strings.shortterm || enpack.shortterm}}</div>
                  <div class="col-xs-2"><b>
                    {{getSalesOf("tradeDebtors") + getSalesOf("vatReceivables") + getSalesOf("otherReceivables")}}
                  </b></div>
                </li>
                <li>
                  <ul>
                    <li>
                      <div class="col-xs-10">{{strings.tradeDebtors || enpack.tradeDebtors}}</div>
                      <div class="col-xs-2">{{getSalesOf("tradeDebtors")}}</div>
                    </li>
                    <li>
                      <div class="col-xs-10">{{strings.vatReceivables || enpack.vatReceivables}}</div>
                      <div class="col-xs-2">{{getSalesOf("vatReceivables")}}</div>
                    </li>
                    <li>
                      <div class="col-xs-10">{{strings.otherReceivables || enpack.otherReceivables}}</div>
                      <div class="col-xs-2">{{getSalesOf("otherReceivables")}}</div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <div class="col-xs-10">{{strings.investments || enpack.investments}}</div>
              <div class="col-xs-2">{{getSalesOfOf("cashOrBank", "investments")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.cashInHandAndInBank || enpack.cashInHandAndInBank}}</div>
              <div class="col-xs-2">{{getSalesOfOf("cashOrBank", "cashInHandAndInBank")}}</div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <div class="col-xs-10">{{strings.assetsTotal || enpack.assetsTotal}}</div>
      <div class="col-xs-2">0</div>
    </li>
    <div class="col-xs-12"><br></div>
    <li><div class="col-xs-12">{{strings.equityAndLiabilities || enpack.equityAndLiabilities}}</div></li>
    <li>
      <ul>
        <li><div class="col-xs-12">{{strings.capitalAndReserves || enpack.capitalAndReserves}}</div></li>
        <li>
          <div class="col-xs-10">{{strings.subscribedCapital || enpack.subscribedCapital}}</div>
          <div class="col-xs-2">{{getSalesOf("subscribedCapital")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.revaluationReserve || enpack.revaluationReserve}}</div>
          <div class="col-xs-2">{{getSalesOf("revaluationReserve")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.otherReserves || enpack.otherReserves}}</div>
          <div class="col-xs-2">{{getSalesOf("otherReserves")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.retairnedEarnings || enpack.retairnedEarnings}}</div>
          <div class="col-xs-2">{{getSalesOf("retairnedEarnings")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.profitLossOfTheFinancialYear || enpack.profitLossOfTheFinancialYear}}</div>
          <div class="col-xs-2">{{getSalesOf("profitLossOfTheFinancialYear")}}</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.capitalAndReservesTotal || enpack.capitalAndReservesTotal}}</div>
          <div class="col-xs-2">0</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.appropriations || enpack.appropriations}}</div>
          <div class="col-xs-2">0</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.provisions || enpack.provisions}}</div>
          <div class="col-xs-2">0</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.creditors || enpack.creditors}}</div>
          <div class="col-xs-2">0</div>
        </li>
        <li>
          <div class="col-xs-10">{{strings.longterm || enpack.longterm}}</div>
          <div class="col-xs-2">{{getSalesOfOf("loanOrDebt", "longterm")}}</div>
        </li>
        <li><div class="col-xs-12">{{strings.shortterm || enpack.shortterm}}</div></li>
        <li>
          <ul>
            <li>
              <div class="col-xs-10">{{strings.loansFromCreditInstitutions || enpack.loansFromCreditInstitutions}}</div>
              <div class="col-xs-2">{{getSalesOf("loansFromCreditInstitutions")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.tradeCreditors || enpack.tradeCreditors}}</div>
              <div class="col-xs-2">{{getSalesOf("tradeCreditors")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.vatDebt || enpack.vatDebt}}</div>
              <div class="col-xs-2">{{getSalesOf("vatDebt")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.otherCreditors || enpack.otherCreditors}}</div>
              <div class="col-xs-2">{{getSalesOf("otherCreditors")}}</div>
            </li>
            <li>
              <div class="col-xs-10">{{strings.shorttermCreditorsTotal || enpack.shorttermCreditorsTotal}}</div>
              <div class="col-xs-2">0</div>
            </li>
          </ul>
        </li>
        <li>
          <div class="col-xs-10">{{strings.creditorsTotal || enpack.creditorsTotal}}</div>
          <div class="col-xs-2">0</div>
        </li>
      </ul>
    </li>
    <li>
      <div class="col-xs-10">{{strings.equityAndLiabilitiesTotal || enpack.equityAndLiabilitiesTotal}}</div>
      <div class="col-xs-2">0</div>
    </li>
  </ul>
</div>
